<div class="index-body">
    <form class="index-form" action="/artist-search" method="GET">
        <label for="artist"><input type="text" id="artist" name="artist"></label><br>
        <button id="button-index" type="submit" value="Submit">Search for an Artist</button>
    </form>
</div>